.signUpBody{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    text-align: center;
}
.signUpInput, .signUpButton{
    width: 50%;
    height: 15%;
    font-size: 1rem;
    margin: 2%;
    padding: 1%;
    border: 1px solid rgb(95, 82, 118);
    border-radius: 5px;
}
.signUpButton{
    background-color: rgb(137, 106, 166);
    color: rgb(255, 255, 255);
}
.signUpButton:hover{
    cursor: pointer;
    background-color: rgb(68, 52, 82);;
}