.headerWrapper{
width: 100%;
height: 6%;

}

.link {
    margin: 7px;
    padding: 1%;
    text-decoration: none;
    color: darkblue;
margin: 10px;
}
.link:hover{
    color: rgb(255, 255, 255);
}

.linkContainer{
  display:flex;
  text-align: center;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility:visible;
    padding: 1%;
}
.iconHeader{
    font-size: 2rem;
    color:rgb(135, 88, 179);
    margin: auto 0 10px 15px;
    text-align: center;

}
